#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

li {
  list-style: circle;
}

.currencyDiv {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerDiv {
  position: fixed;
}

.mainDiv {
  margin: 120px 10% 0 10%;
  min-height: 80vh;
}

.mainDiv > .buttonClass {
  margin: 100px auto;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

.singleDiv {
  margin-bottom: 50px;
}

.singleDiv > .searchClass {
  display: flex;
  justify-content: center;
  margin: auto;
}

.singleDiv > .buttonClass {
  border: solid 1px black;
  margin: 50px auto;
}

.selectDiv > .buttonClass {
  border: solid 1px black;
  margin: auto;
  display: flex;
  justify-content: center;
}

.tableOutput > .buttonClass {
  border: solid 1px black;
}

@media (max-width: 750px) {
  .mainDiv {
    min-height: 70vh;
  }
  .mainDiv > .buttonClass,
  .tableOutput > .buttonClass {
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }

  .currencyDiv {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
}
